# Standard Python ignores
__pycache__/
*.py[cod]
*$py.class

# Virtual environments and build
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Editors
.vscode/
.idea/

# Streamlit config
.streamlit/

# Project specific
storage.json
